<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='settings.css')}}">
    <title>Update Rendered</title>
</head>
<body>

    <div id="settings-container">
        <img src="{{ url_for('static', filename='images/profile_placeholder.png')}}" alt="">
        <h3>Thanks for the update {{ this_student.first_name }}!</h3>
        <div class='form-nav'>
            <a class="go-back" href="/settings">Go Back To Settings</a>
            <a class="go-back" href="/student/dashboard">Dashboard</a>
        </div>
    </div>
    
    <script src="{{  url_for ('static', filename='script.js')}}"></script>
</body>
</html>