<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='settings.css')}}">
    <title>Update Password</title>
</head>
<body>

    <form action="/update-submit/password/{{ this_student.id }}" method ="post">
        <img src="{{ url_for('static', filename='images/profile_placeholder.png')}}" alt="">
        <p>Let us set up your new email {{ this_student.first_name }}!</p>
        <input type="password" for="password" name="password" placeholder="New Password...">
        {% for message in get_flashed_messages (category_filter =['password']) %}
            <p class="validation-alert">{{ message }}</p>
        {% endfor %}
        <input type="password" for="password" name="password" placeholder="Confirm New Pasword...">
        {% for message in get_flashed_messages (category_filter =['password']) %}
        <p class="validation-alert">{{ message }}</p>
        {% endfor %}
        <button>Update Password</button>
        <div class='form-nav'>
            <a class="go-back" href="/settings">Go Back To Settings</a>
            <a class="go-back" href="/student/dashboard">Dashboard</a>
        </div>
    
    </form>


    <script src="{{  url_for ('static', filename='script.js')}}"></script>
</body>
</html>