<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='welcome.css')}}">
    <title>Welcome</title>
</head>
<body>
    <div id="welcome-card">
        <form action="/user">
        <img src="/static/images/code_logo.png" alt="">
        <h1>Thanks For Signing Up!</h1>
        <p>Here's the information you've provided</p>
        <p>Full Name: {{ full_name }}</p>
        <p>Email: {{ email }}</p>
        <p>Password: {{ password }}</p>
        <h2>Ready To Learn?</h2>
        <button>Go To Dashboard</button>
        <a href="/">Go Back</a>
    </form>
    </div>

    <script src="{{  url_for ('static', filename='script.js')}}"></script>
</body>
</html>